*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

.container {
    background-color: cadetblue;
    width: 90%;
    margin:2rem auto;
    border-radius: 1rem;
    padding: 2rem;
}

header {
    text-align: center;
    margin: 1rem;
}

h1 {
    margin: 1rem;
}

form {
    border: 1px solid black;
}

fieldset {
    padding: 10px;
}

h2 {
    font-size: .9rem;
    text-transform: uppercase;
}

.row {
    display: flex;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    margin-top: 8px;
}

.button {
   display: flex;
   justify-content: center;
}
button {
    padding: 1.7em 1.5em;
    margin: 1rem;
    border-radius: .7rem;
    border: none;
}